#!/bin/bash

echo -n "brew cu? [Y/n] "
read ans
if ! [[ $ans =~ ^[nN]*$ ]]; then
    brew cu
fi

echo "getting brew outdated packages"
packages=`brew outdated --verbose`
if [ "$packages" ]; then
    echo "$packages"
    echo -n "brew upgrade? [Y/n] "
    read ans
    if ! [[ $ans =~ ^[nN]*$ ]]; then
        brew upgrade
    fi
else
    echo "every brew package is update-to-date"
fi
